* {font-family: arial; font-size:14px}
body {background:#ddd;margin:0;}
div.supercontainer{display:block;}
div.menu {background:white;padding:10px;border-bottom:1px solid #666}
div.mainstage {margin-top:10px;display:block;}
.col {float:left;display:block;padding:10px}
.col1 {background:white;border-right:1px solid #666; height:800px;width:350px; overflow: auto}
.col1 img {width:100%}
.col2 img {width:100%}
.draggable {}
.chosenItem {position:absolute;z-index:2}
.item {display:inline-block;margin:4px;background-color:deeppink;text-align:center;width:60px}
.item p {display:block;margin:0;padding:0;font-size:9px; text-align: center;margin:auto}
.filtered {display:none}
.clear {clear:both}
div.selection {position:absolute; border:1px dotted black;width:300px;height:200px;z-index:1}
.hide {visibility:hidden}




section {
        position:relative;
        height: 784px;
        width: 1110px;
        background:white;
} 

@media print{
    #sourceContainer {display:none}
    div.menu {display:none}
}